<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <meta name="csrf-token" content="SlPAvQo10bjzpQr74qN9t493qvdNvRq3cZgqrt66">
    <title>Tokened.life</title>
    <meta name="description" content="">
    <meta name="keywords" content="">


    <link rel="stylesheet" href="http://35.172.191.14/css/app.css?_m=1630996409" media="all">
    <script src="http://35.172.191.14/js/app.js?_m=1630996409" defer></script>


    </head>
    <body class="antialiased">
        <div id="app">
            <navbar
    logo-name="Tokened.life"
    :menu-items="[{&quot;id&quot;:&quot;1&quot;,&quot;link&quot;:&quot;\/contacts&quot;,&quot;title&quot;:&quot;Contacts&quot;},{&quot;id&quot;:&quot;2&quot;,&quot;link&quot;:&quot;#&quot;,&quot;title&quot;:&quot;Search&quot;}]"
    ></navbar>            <div class="relative max-w-6xl mx-auto px-2 sm:px-6 lg:px-8 py-10">
                <div class="bg-green-200 border-green-500 border-l-4 mb-6 p-4" role="alert">
    <p class="font-bold">Success</p>
    <p>Education record created</p>
</div>




<div class="rounded-xl shadow-md p-4 mb-4 flex flex-wrap">
    <div class="my-1">
        <img class="rounded w-56 h-auto mr-6" src="headshot image.png" alt="image">
    </div>
    <div class="mt-2 flex-grow">
        <div>
            <div class="mt-2 text-sm text-gray-600">
                <ul>
                    <li><strong>Name:</strong> Robert Koldoziej</li>
                    <li><strong>Title:</strong> Marist College Student</li>

                    <li><strong>Share name:</strong> YES</li>
                    <li><strong>Share title:</strong> YES</li>
                    <li><strong>Share image:</strong> YES</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="bg-gray-50 my-6 p-6 w-full">
        <div class="font-semibold mb-4 text-lg">Education <a href="educationcreate.html" class="underline sm:ml-6 text-sm inline-block">Add new</a></div>

                <div class="bg-white p-2 rounded text-gray-600 text-sm flex flex-wrap justify-between" href="educationcreate.html" content="block">
            <ul class="my-2 md:w-1/2 w-full">
                <li><strong>Institution name:</strong> <input resource="educationcreate.html"> </li>
                <li><strong>Degree name:</strong> <input resource="educationcreate.html"> </li>
                <li><strong>Dates:</strong> <input resource="educationcreate.html"> </li>
                <li><strong>Description:</strong> <input resource="educationcreate.html"> </li>
            </ul>
            <div class="my-2 mx-2">
                <img class="rounded w-28 h-auto" src="http://35.172.191.14/images/cert.png" alt="certified">
            </div>
            <div class="my-2">
                <form method="POST" action="educationcreate.html" class="inline">
                    <input type="hidden" name="_token" value="SlPAvQo10bjzpQr74qN9t493qvdNvRq3cZgqrt66">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn text-red-500 ml-2">Delete</button>
                </form>
        <div class="font-semibold mb-4 text-lg">Education Hash </div>
                <button type="submit" class="btn btn-primary md:m-auto md:w-1/2"> Hash </button>
                <div>
            </div>
        </div>

            </div>
</div>
            </div>
        </div>

            </body>
</html>